<ul class="card-list">
  <li>
    <div class="card">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/clubpass-63a0a.appspot.com/o/events%2FRywwVYmZKPnHFAebMNAt%2Fb7229e8e-d326-4134-abc9-586f0fcc19c9.png?alt=media&token=fec57a02-a13a-461b-8690-f54160954554"
      />
      <h3>Salon Session: The Porous Pluriverse</h3>
      <div class="content">
        <p>Oct 27, 2022</p>
        <a
          target="_blank"
          href="https://yourholderpass.xyz/event/RywwVYmZKPnHFAebMNAt"
          >See More</a
        >
      </div>
    </div>
  </li>

  <li>
    <div class="card">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/clubpass-63a0a.appspot.com/o/events%2FDho59VLtsybPOHwii1sF%2F304609a3-6821-4c81-b11f-e0346b200f04.png?alt=media&token=538d2a3e-e060-4e87-9a30-90d8065fdfef"
      />
      <h3>
        For Love, Legacy or Profit? Perspectives on Collecting Digital Art
      </h3>
      <div class="content">
        <p>Oct 24, 2022</p>
        <a
          target="_blank"
          href="https://yourholderpass.xyz/event/Dho59VLtsybPOHwii1sF"
          >See More</a
        >
      </div>
    </div>
  </li>

  <li>
    <div class="card">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/clubpass-63a0a.appspot.com/o/events%2Fb3o53wbUcraepfLUc57O%2Fbanner.png?alt=media&token=c1c8f6eb-0cc9-4420-a01c-749c205c5c89"
      />
      <h3>Salon Welcome Event: Interactive Dinner</h3>
      <div class="content">
        <p>Oct 22, 2022</p>
        <a
          target="_blank"
          href="https://yourholderpass.xyz/event/b3o53wbUcraepfLUc57O"
          >See More</a
        >
      </div>
    </div>
  </li>

  <li>
    <div class="card">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/clubpass-63a0a.appspot.com/o/events%2FMNVzfiUuFINgVJJgNLsx%2Fc443eb12-1fda-4bbd-8950-936ba2e59f90.png?alt=media&token=8a367587-f5b0-4881-9355-9a7d808bc643"
      />
      <h3>Salon Session: Lauren Lee McCarthy 'Surrogate'</h3>
      <div class="content">
        <p>Oct 21, 2022</p>
        <a
          target="_blank"
          href="https://yourholderpass.xyz/event/MNVzfiUuFINgVJJgNLsx"
          >See More</a
        >
      </div>
    </div>
  </li>

  <li>
    <div class="card">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/clubpass-63a0a.appspot.com/o/events%2F5YQNoZnn5gDNVcvug98a%2F919af515-1e5e-4b71-b5dd-afaa3320e495.png?alt=media&token=5834c92e-0f21-4240-8495-9b6459259ae7"
      />
      <h3>Virtual Studio Visit: Auriea Harvey & Huntrezz</h3>
      <div class="content">
        <p>Oct 13, 2022</p>
        <a
          target="_blank"
          href="https://yourholderpass.xyz/event/MNVzfiUuFINgVJJgNLsx"
          >See More</a
        >
      </div>
    </div>
  </li>

  <li>
    <div class="card">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/clubpass-63a0a.appspot.com/o/events%2FSDY5VuIc6IMFu2YjVKdj%2Fbanner.png?alt=media&token=180d8299-ed96-49c7-9705-c69b35d5c281"
      />
      <h3>Virtual Studio Visit: Lawrence Lek & Manny 404</h3>
      <div class="content">
        <p>Sep 29, 2022</p>
        <a
          target="_blank"
          href="https://yourholderpass.xyz/event/SDY5VuIc6IMFu2YjVKdj"
          >See More</a
        >
      </div>
    </div>
  </li>

  <li>
    <div class="card">
      <img
        src="https://firebasestorage.googleapis.com/v0/b/clubpass-63a0a.appspot.com/o/events%2F88JHFiP7W0AfxuQ7JZ8q%2Fbanner.png?alt=media&token=e28d2294-d672-4b59-8e57-a86c5e6f35db"
      />
      <h3>e•a•t•}works Salon 0</h3>
      <div class="content">
        <p>Jul 21, 2022</p>
        <a
          target="_blank"
          href="https://yourholderpass.xyz/event/88JHFiP7W0AfxuQ7JZ8q"
          >See More</a
        >
      </div>
    </div>
  </li>
</ul>
